! Configuration File for keepalived

global_defs {
!   notification_email {
!     acassen@firewall.loc
!     failover@firewall.loc
!     sysadmin@firewall.loc
!   }
!   notification_email_from Alexandre.Cassen@firewall.loc
!   smtp_server 192.168.200.1
!   smtp_connect_timeout 30
!   router_id LVS_DEVEL
!   vrrp_skip_check_adv_addr
!   vrrp_strict
!   vrrp_garp_interval 0
!   vrrp_gna_interval 0
}

vrrp_script chk_zabbix_server {
    script "/bin/systemctl is-active zabbix-server"
    interval 3
    fall 3
    rise 2
}

vrrp_script chk_mariadb {
    script "/bin/systemctl is-active mariadb"
    interval 3
    fall 3
    rise 2
}

vrrp_script chk_httpd {
    script "/bin/systemctl is-active httpd"
    interval 2
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    state MASTER
    interface {{ interface }}
    virtual_router_id 51
    priority 100
    advert_int 1
    notify "/etc/keepalived/notify.sh"
    notify_master "/etc/keepalived/notify.sh MASTER"
    notify_backup "/etc/keepalived/notify.sh BACKUP"
    notify_fault "/etc/keepalived/notify.sh FAULT"
    notify_stop "/etc/keepalived/notify.sh STOP"
    authentication {
        auth_type PASS
        auth_pass zabbix
    }
    virtual_ipaddress {
        {{ ip_address }} dev {{ interface }}
    }
    track_script {
      chk_zabbix_server
      chk_mariadb
      chk_httpd
    }
}
